// Created a mixin funtion because I have more than 1 className that uses the same styles.
@mixin card-styled(
  $width,
  $height,
  $background-color,
  $margin,
  $border-radius,
  $padding,
  $position
) {
  width: $width;
  height: $height;
  background-color: $background-color;
  margin: $margin;
  border-radius: $border-radius;
  padding: $padding;
  position: $position;
}

.profile-card {
  @include card-styled(auto, auto, whitesmoke, 30px, 5px, 20px, relative);

  .profile-info {
    display: flex;
    justify-content: space-between;
    .website {
      color: #004c75;
    }

    .skill-label {
      font-weight: 600;
    }
    .right-info {
      margin-top: 25px;
      margin-right: 20px;
      // Applying the same styles for two different className.
      .college,
      .company {
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.9);
        font-family: system-ui;
        line-height: 30px;
      }

      .company {
        margin-top: -15px;
      }
    }
  }
  .edit-btn {
    position: absolute;
    right: 20px;
    .edit-icon {
      cursor: pointer;
      padding: 8px;
      border-radius: 30px;
      &:hover {
        background-color: rgb(214, 213, 213);
      }
    }
  }
  .userName {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    font-family: system-ui;
    margin-top: -10px;
  }
  .headline {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    font-family: system-ui;
    margin-top: -35px;
    width: 320px;
    line-height: 20px; // What is the height of each line in the sentence.
  }
  .location {
    font-size: 14px;
    font-weight: 350;
    color: rgba(0, 0, 0, 0.6);
    font-family: system-ui;
  }
}

.about-card {
  @include card-styled(auto, auto, whitesmoke, 30px, 5px, 20px, relative);

  label {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    line-height: 25px;
    font-family: system-ui;
  }
}
