.post-status-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  .post-status {
    width: 550px;
    height: 120px;
    background-color: whitesmoke;
    margin-top: 30px;
    border: 1px solid #c1c0c0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .profile-image-card {
      border: 1px solid rgb(205, 205, 205);
      width: 110px;
      height: 110px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 5.7rem;
    }
    .user-name-card {
      margin-top: 3rem;
      font-weight: 600;
      font-family: system-ui;
    }
    .current-user-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid gray;
    }
    .open-post-modal {
      width: 80%;
      height: 50px;
      text-align: left;
      color: rgba(0, 0, 0, 0.71);
      background-color: whitesmoke;
      outline: none;
      border: 1px solid #b7b7b7;
      border-radius: 30px;
      cursor: pointer;
      padding: 15px;
      font-family: system-ui;
      font-size: 14px;
      font-weight: 600;
      transition: background-color 0.15s ease;

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}
