$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004182;
.profile-edit-inputs {
  display: grid;
  margin-top: 40px;
  gap: 20px;

  label {
    margin-bottom: -15px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    font-family: system-ui;
    margin-top: -5px;
  }
}
.close-icon {
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
  &:hover {
    background-color: rgb(214, 213, 213);
  }
}
.save-container {
  display: flex;
  justify-content: center;
  .save-btn {
    color: #ffffff;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border-radius: 5rem;
    cursor: pointer;
    background-color: $linkedinBlue2;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    font-size: 18px;
    &:hover {
      background-color: $linkedinBlue3;
    }
  }
}
